{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/themes/dark.css">
{% endblock %}
{% form_theme formBooking 'bootstrap_4_layout.html.twig' %}



{% block title %} Billeterie : Acceuil {% endblock %}

{% block body %}
  <main class="billeterie index ">
    <section class="container ">
      <div class="part1">
        <h1>Choisissez vos billets</h1>
          {{ form_start(formBooking) }}
            {{ form_row(formBooking.name, { 'attr':{'placeholder': "Nom"} , 'label': 'Votre nom' }) }}
            {{ form_row(formBooking.firstName, { 'attr':{'placeholder': "Prénom"} ,  'label': 'Votre prénom' }) }}
            {{ form_row(formBooking.country, { 'attr':{'placeholder': "Pays"} , 'label': 'Votre pays' }) }}
            {{ form_row(formBooking.typeId, { 'label': 'Vous venez visiter pour:' }) }}
            {{ form_row(formBooking.visitDate , {'value':(formBooking.vars.value.visitDate | date('Y-m-d H:i:s') ),'attr':{'class': 'datepicker' } , 'label': 'le jour de votre visite' }) }}
            {{ form_row(formBooking.birthDate , {'value':(formBooking.vars.value.birthDate | date('Y-m-d H:i:s') ),'attr':{'class': 'datepicker lastForm' } , 'label': 'Votre date d\'anniversaire' }) }}
            {{ form_row(formBooking.rateId, {'attr':{'class': 'checkWarning' }, 'label': 'Faite vous partie d\'un régime speciale (étudiant,militaire...)' }) }}
            <p class="justify-rate trans-block"><span class="justify-rate-badge text-uppercase badge badge-warning">Warning</span> <span class="justify-rate-text text-warning">présenter un justificatif en casse</span></p>
            <button type="submit" class="btn btn-danger">Ajouter un billet</button>

          {{ form_end(formBooking) }}
        </div>
    </section>
    <section class="container part2">
      <h2>Liste des billets choisis</h2>

      {% if formBillet is not null %}
        {% for billet in formBillet %}

      <div class="card billet-c" >
        <div class="card-header bg-primary billet-c-h">
          <p > <span>{{billet.name}}</span> <span>{{billet.firstName}}</span> de {{billet.nameCountry}}</p>
          <form  action="{{ path('billetDelete') }}" method="post">
            <input type="hidden" name="idBillet" value="{{billet.idResponse}}">
            <button type="submit" class="btn btn-danger btnCross">X</button>

          </form>
        </div>
        <div class="card-body bg-secondary billet-c-b">

          <p class="card-text billet-c-t">Visite la {{billet.nameType}}  au tarif "{{billet.nameRate}}" le {{billet.visitDate | date("d/m/Y")}}</p>

        </div>
      </div>
      {% endfor %}
      <a class="btn btn-primary" href="{{ path('quote')}}">Devis ▶</a>
      {% else %}
      <p class="p-blanc">Venez decouvrir les oeuvre des maitre d'autre ages. Le musée du Louvre vous acceuil, prenez un billet!</p>
      {% endif %}

    </section>

  </main>
{% endblock %}
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/flatpickr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.5.1/l10n/fr.js"></script>
<script src="/js/MyFlatpickr.js"></script>

{% endblock %}
